<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="base :: common_header('問題投稿・更新ページ')"></head>
<body th:insert="base :: body(~{ :: .content})">
<div class="content container">
    <h2>問題投稿・更新ページ</h2>
    <form th:if="${username}" th:action="@{/admin/api/create_or_update_problem}" method="post">
        <input type="hidden" name="id" th:value="${problem} ? ${problem.id}"/>
        <div class="form-group">
            <label for="name">問題名</label>
            <input class="form-control" type="text" name="name" id="name" th:value="${problem} ? ${problem.name}" th:readonly="${problem}"/>
        </div>
        <div class="form-group">
            <label for="problem-title">タイトル</label>
            <input class="form-control" type="text" name="title" id="problem-title" th:value="${problem} ? ${problem.title}"/>
        </div>
        <div class="form-group">
            <label for="problem-visibility">公開範囲</label>
            <select name="visibility" id="problem-visibility">
                <option th:each="option : ${visibilityOptions}" th:value="${option}" th:text="${option}" th:selected="${problem} and ${option} == ${problem.visibility}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="problem-statement">問題文</label>
            <textarea class="form-control" name="statement" id="problem-statement" th:text="${problem} ? ${problem.statement}" rows="15">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
