<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(title=${problem.title}, links=~{:: link})">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
</head>
<body th:insert="base :: body(content=~{:: .content}, scripts=~{:: script})">
<div class="content container">
    <h2 class="mb-4">[[${problem.title}]]</h2>
    <div id="problem-statement"></div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script th:inline="javascript">
        document.getElementById('problem-statement').innerHTML
            = marked([[${problem.statement}]])
    </script>
    <hr/>
        <form th:if="${username}" th:action="@{/api/submit}" method="post">
            <input type="hidden" name="problemName" th:value="${problem.name}"/>
            <div class="form-group">
                <label for="testcase">テストケース</label>
                <textarea class="form-control" name="testcase" id="testcase"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <p th:unless="${username}">提出をするためには<a th:href="@{/login}">ログイン</a>してください。</p>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
