<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="page_title='提出 #' + ${submission.id}">
<head th:replace="base :: common_header(title = ${page_title}, links = ~{:: link})">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
</head>
<body th:insert="base :: body(content=~{:: .content}, scripts=~{:: script})">
<div class="content container">
    <h2>[[${page_title}]]</h2>
    <table class="table">
        <tr>
            <th>問題</th>
            <td><a th:text="${problem.title}" th:href="'/problem/' + ${problem.name}"></a></td>
        </tr>
        <tr>
            <th>提出者</th>
            <td th:text="${authorName}"></td>
        </tr>
        <tr>
            <th>提出時間</th>
            <td th:text="${@timeZoneConverter.convertToLocalTime(submission.createdDate)}"></td>
        </tr>
        <tr>
            <th>ステータス</th>
            <td th:text="${submission.status}"></td>
        </tr>
        <tr>
            <th>テストケース</th>
            <td>
                <pre><code class="plaintext" th:text="${submission.testcase}"></code></pre>
            </td>
        </tr>
    </table>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
